


<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Editas</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of Productos">
        <td>{{ prd.id }}</td>
        <td>{{ prd.nombre }}</td>
        <td>{{ prd.precio }}</td>
        <td>
            <span (click)="editarProducto(prd)">
              <i class="fas fa-trash-alt"></i>
            </span>
          </td>
          <td>
            <span (click)="eliminarProducto(prd)">
              <i class="fas fa-trash-alt"></i>
            </span>
          </td>
      </tr>
    </tbody>
  </table>
  
