<div>
    <h2>Formulario de Producto</h2>
    <form (ngSubmit)="agregarProducto()">
      <div>
        <label>Nombre:</label>
        <input type="text" [(ngModel)]="nuevoPrd.nombre" name="nombre" required>
      </div>
      <div>
        <label>Precio:</label>
        <input type="number" [(ngModel)]="nuevoPrd.precio" name="Precio" required>
      </div>
      <button type="submit">Agregar Producto</button>
    </form>
  </div>
  